{% extends 'base.html.twig' %}

{% block title %}Sheet index{% endblock %}

{% block body %}
    <h1>Sheet index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Kayittarihi</th>
            <th>Tel</th>
            <th>Cagriyapan</th>
            <th>Cagriyolu</th>
            <th>Cagrinedeni</th>
            <th>Sokak</th>
            <th>Mahalle</th>
            <th>Ilce</th>
            <th>Adres</th>
            <th>Adsoyad</th>
            <th>Cinsiyet</th>
            <th>Yas</th>
            <th>SosyalGuvence</th>
            <th>Oncelik</th>
            <th>Ekhasta</th>
            <th>Bilinc</th>
            <th>Bilincdurumu</th>
            <th>Pupiler</th>
            <th>Solunum</th>
            <th>Cilt</th>
            <th>Diger</th>
            <th>Sistolik</th>
            <th>Diastolik</th>
            <th>Tani</th>
            <th>Tani2</th>
            <th>Mudahale</th>
            <th>Hastane</th>
            <th>Kentselkirsal</th>
            <th>Ekipno</th>
            <th>Kendibolgesi</th>
            <th>Cikiskm</th>
            <th>Variskm</th>
            <th>Kmfark</th>
            <th>Cagrizamani</th>
            <th>Vakaveriszamani</th>
            <th>Hareketzamani</th>
            <th>Bulusmazamani</th>
            <th>Variszamani</th>
            <th>Ayriliszamani</th>
            <th>Varis</th>
            <th>Ayrilis</th>
            <th>Donus</th>
            <th>Reaksiyon</th>
            <th>Ulasim</th>
            <th>Mesguliyet</th>
            <th>Toplam</th>
            <th>Sonuc</th>
            <th>Gitmeligitmemeli</th>
            <th>Yatiszamani</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sheet in sheets %}
            <tr>
                <td>{{ sheet.id }}</td>
                <td>{{ sheet.kayittarihi ? sheet.kayittarihi|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sheet.tel }}</td>
                <td>{{ sheet.cagriyapan }}</td>
                <td>{{ sheet.cagriyolu }}</td>
                <td>{{ sheet.cagrinedeni }}</td>
                <td>{{ sheet.sokak }}</td>
                <td>{{ sheet.mahalle }}</td>
                <td>{{ sheet.ilce }}</td>
                <td>{{ sheet.adres }}</td>
                <td>{{ sheet.adsoyad }}</td>
                <td>{{ sheet.cinsiyet }}</td>
                <td>{{ sheet.yas }}</td>
                <td>{{ sheet.sosyal_guvence }}</td>
                <td>{{ sheet.oncelik }}</td>
                <td>{{ sheet.ekhasta }}</td>
                <td>{{ sheet.bilinc }}</td>
                <td>{{ sheet.bilincdurumu }}</td>
                <td>{{ sheet.pupiler }}</td>
                <td>{{ sheet.solunum }}</td>
                <td>{{ sheet.cilt }}</td>
                <td>{{ sheet.diger }}</td>
                <td>{{ sheet.sistolik }}</td>
                <td>{{ sheet.diastolik }}</td>
                <td>{{ sheet.tani }}</td>
                <td>{{ sheet.tani2 }}</td>
                <td>{{ sheet.mudahale }}</td>
                <td>{{ sheet.hastane }}</td>
                <td>{{ sheet.kentselkirsal }}</td>
                <td>{{ sheet.ekipno }}</td>
                <td>{{ sheet.kendibolgesi }}</td>
                <td>{{ sheet.cikisKM }}</td>
                <td>{{ sheet.VarisKM }}</td>
                <td>{{ sheet.kmfark }}</td>
                <td>{{ sheet.cagriZamani ? sheet.cagriZamani|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sheet.vakaVerisZamani ? sheet.vakaVerisZamani|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sheet.HareketZamani ? sheet.HareketZamani|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sheet.BulusmaZamani ? sheet.BulusmaZamani|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sheet.varisZamani ? sheet.varisZamani|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sheet.ayrilisZamani ? sheet.ayrilisZamani|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sheet.varis ? sheet.varis|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sheet.ayrilis ? sheet.ayrilis|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sheet.donus ? sheet.donus|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sheet.Reaksiyon }}</td>
                <td>{{ sheet.Ulasim }}</td>
                <td>{{ sheet.Mesguliyet }}</td>
                <td>{{ sheet.Toplam }}</td>
                <td>{{ sheet.Sonuc }}</td>
                <td>{{ sheet.gitmeligitmemeli }}</td>
                <td>{{ sheet.yatiszamani ? sheet.yatiszamani|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('sheet_show', {'id': sheet.id}) }}">show</a>
                    <a href="{{ path('sheet_edit', {'id': sheet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="51">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sheet_new') }}">Create new</a>



    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Veri Tablosu</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Kayittarihi</th>
                        <th>Tel</th>
                        <th>Cagriyapan</th>
                        <th>Cagriyolu</th>
                        <th>Cagrinedeni</th>
                        <th>Sokak</th>
                        <th>Mahalle</th>
                        <th>Ilce</th>
                        <th>Adres</th>
                        <th>Adsoyad</th>
                        <th>Cinsiyet</th>
                        <th>Yas</th>
                        <th>SosyalGuvence</th>
                        <th>Oncelik</th>
                        <th>Ekhasta</th>
                        <th>Bilinc</th>
                        <th>Bilincdurumu</th>
                        <th>Pupiler</th>
                        <th>Solunum</th>
                        <th>Cilt</th>
                        <th>Diger</th>
                        <th>Sistolik</th>
                        <th>Diastolik</th>
                        <th>Tani</th>
                        <th>Tani2</th>
                        <th>Mudahale</th>
                        <th>Hastane</th>
                        <th>Kentselkirsal</th>
                        <th>Ekipno</th>
                        <th>Kendibolgesi</th>
                        <th>Cikiskm</th>
                        <th>Variskm</th>
                        <th>Kmfark</th>
                        <th>Cagrizamani</th>
                        <th>Vakaveriszamani</th>
                        <th>Hareketzamani</th>
                        <th>Bulusmazamani</th>
                        <th>Variszamani</th>
                        <th>Ayriliszamani</th>
                        <th>Varis</th>
                        <th>Ayrilis</th>
                        <th>Donus</th>
                        <th>Reaksiyon</th>
                        <th>Ulasim</th>
                        <th>Mesguliyet</th>
                        <th>Toplam</th>
                        <th>Sonuc</th>
                        <th>Gitmeligitmemeli</th>
                        <th>Yatiszamani</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sheet in sheets %}
                        <tr>
                            <td>{{ sheet.id }}</td>
                            <td>{{ sheet.kayittarihi ? sheet.kayittarihi|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ sheet.tel }}</td>
                            <td>{{ sheet.cagriyapan }}</td>
                            <td>{{ sheet.cagriyolu }}</td>
                            <td>{{ sheet.cagrinedeni }}</td>
                            <td>{{ sheet.sokak }}</td>
                            <td>{{ sheet.mahalle }}</td>
                            <td>{{ sheet.ilce }}</td>
                            <td>{{ sheet.adres }}</td>
                            <td>{{ sheet.adsoyad }}</td>
                            <td>{{ sheet.cinsiyet }}</td>
                            <td>{{ sheet.yas }}</td>
                            <td>{{ sheet.sosyal_guvence }}</td>
                            <td>{{ sheet.oncelik }}</td>
                            <td>{{ sheet.ekhasta }}</td>
                            <td>{{ sheet.bilinc }}</td>
                            <td>{{ sheet.bilincdurumu }}</td>
                            <td>{{ sheet.pupiler }}</td>
                            <td>{{ sheet.solunum }}</td>
                            <td>{{ sheet.cilt }}</td>
                            <td>{{ sheet.diger }}</td>
                            <td>{{ sheet.sistolik }}</td>
                            <td>{{ sheet.diastolik }}</td>
                            <td>{{ sheet.tani }}</td>
                            <td>{{ sheet.tani2 }}</td>
                            <td>{{ sheet.mudahale }}</td>
                            <td>{{ sheet.hastane }}</td>
                            <td>{{ sheet.kentselkirsal }}</td>
                            <td>{{ sheet.ekipno }}</td>
                            <td>{{ sheet.kendibolgesi }}</td>
                            <td>{{ sheet.cikisKM }}</td>
                            <td>{{ sheet.VarisKM }}</td>
                            <td>{{ sheet.kmfark }}</td>
                            <td>{{ sheet.cagriZamani ? sheet.cagriZamani|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ sheet.vakaVerisZamani ? sheet.vakaVerisZamani|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ sheet.HareketZamani ? sheet.HareketZamani|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ sheet.BulusmaZamani ? sheet.BulusmaZamani|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ sheet.varisZamani ? sheet.varisZamani|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ sheet.ayrilisZamani ? sheet.ayrilisZamani|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ sheet.varis ? sheet.varis|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ sheet.ayrilis ? sheet.ayrilis|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ sheet.donus ? sheet.donus|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ sheet.Reaksiyon }}</td>
                            <td>{{ sheet.Ulasim }}</td>
                            <td>{{ sheet.Mesguliyet }}</td>
                            <td>{{ sheet.Toplam }}</td>
                            <td>{{ sheet.Sonuc }}</td>
                            <td>{{ sheet.gitmeligitmemeli }}</td>
                            <td>{{ sheet.yatiszamani ? sheet.yatiszamani|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('sheet_show', {'id': sheet.id}) }}">show</a>
                                <a href="{{ path('sheet_edit', {'id': sheet.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="51">no records found</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
